<div class="header" fxLayout.xs="column wrap" fxLayout="row" fxLayoutGap="50px" fxLayoutGap.sm="10px"
     fxLayoutAlign="start center" fxLayoutAlign.xs="start start">
  <a ngClass.xs="small-screen" ngClass.md="medium" routerLink="/home">Home</a>
  <a fxFlexAlign="center" routerLink="/aboutus">About Us</a>
  <a fxFlexAlign="center" routerLink="/contactus">Contact Us </a>
  <span fxFlex="750px"></span>
  <a fxFlexAlign="center" routerLink="/login">Login</a>
  <a routerLink="/signup">SignUp</a>
</div>
