<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="col-md-3 col-md-offset-3">
  <h3>Signup</h3>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="password" type="password">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="confirm password" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="signup()" type="button">Signup</button>
    </mat-expansion-panel>
  </mat-accordion>
  <span>Already have an account? <a class="link" routerLink="/login">Login</a></span>

</div>
